In [1]:
import pandas as pd

In [12]:
s_ref = pd.read_csv('./submissions/cnn-v3.csv')
s_fw = pd.read_csv('./trackB/submission1.csv')
s_rev = pd.read_csv('./trackB/submissionRev.csv')

In [13]:
s_ref.sort_values(by=['id'], inplace=True)
s_fw.sort_values(by=['id'], inplace=True)
s_rev.sort_values(by=['id'], inplace=True)

In [14]:
s_ref

,id,classification_predictions,regression_predictions
0,0002894871bb30af2670648c58b2506e9801a321,1,30.0
1,000a95ca23df016a149ff9af94b6e9d8633d6691,0,30.0
2,000b4407dee7dad2ba46586e6ba1264f45965e51,0,30.0
3,000c45d729066044e3dd3f885fddf013b845b6d7,1,30.0
4,0011f80e44faa713714ead6aeab3b2f9db54aebd,0,6.0
...,...,...,...
15059,ffdfd25b2f522ba2312dda90189ec48205578199,1,30.0
15060,ffe29ac691148f84c7a7759e687aa6c2f0eac11a,0,30.0
16562,ffedc12ec5c142dae2086408b778cf0db2ff944e,1,3.0
15061,fff423086a80114984b647af69f710cf3ef844f9,0,6.0
16563,fffdd654bd60b81ffd51a723a8839b8f5381feba,0,1.0

In [15]:
s_fw

,id,classification_predictions,regression_predictions
0,0002894871bb30af2670648c58b2506e9801a321,0,16.843548
1,000a95ca23df016a149ff9af94b6e9d8633d6691,1,14.951027
2,000b4407dee7dad2ba46586e6ba1264f45965e51,1,13.263981
3,000c45d729066044e3dd3f885fddf013b845b6d7,0,17.999447
4,0011f80e44faa713714ead6aeab3b2f9db54aebd,1,14.079781
...,...,...,...
15059,ffdfd25b2f522ba2312dda90189ec48205578199,0,15.023392
15060,ffe29ac691148f84c7a7759e687aa6c2f0eac11a,1,13.870880
16562,ffedc12ec5c142dae2086408b778cf0db2ff944e,1,11.920189
15061,fff423086a80114984b647af69f710cf3ef844f9,1,10.230551
16563,fffdd654bd60b81ffd51a723a8839b8f5381feba,1,11.373249